@font-face {
    font-family: 'GE_SS_Unique';
    src: url("../font/GE_SS_Unique_Light.otf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GE_SS_Unique';
    src: url("../font/GE_SS_Unique_Bold.otf") format('truetype');
    font-weight: 500;
    font-style: normal;
}